@font-face {
  font-family: 'Avenir-Book';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 45 Book"), url("fonts/avenir/AvenirLTStd-Book.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 35 Light"), url("fonts/avenir/AvenirLTStd-Light.woff") format("woff");
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Avenir';
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  overflow: hidden;
}
