@import '../../shared/styles/shared.scss';

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 370px;

  .login-form__input {
    width: 100%;
    height: 46px;
    padding: 2px 9px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.23);

    &--prefix {
      padding: 0;
      .ant-input {
        font-size: 16px;
      }
    }
  }

  .login-form__btn {
    width: 100%;
    height: 46px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    border: 1px solid rgba(27,31,35,0.2);

    &:hover {
      background-color: #33C956;
      border: 1px solid rgba(23, 39, 55, 0.20);
    }
  }

  .login-form__forgot-link {
    float: right;
    color: #727171;
    font-size: 13px;
  }

  .signup-link-box {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 15px;
    font-size: 16px;
  }

  .signup-link {
    margin-left: 8px;
    color: #0366d6;
    text-decoration: underline;
  }
}